body{
	font-family: DOS_VGA_437, sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

header{
	width: auto;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	border-bottom: solid 3px #000;
	padding: 0 30px;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.3em;
}

h3 {
	font-size : 1.2em;
}

button{
	background-color: #FFFFFF;
	border-radius: 0;
	border: solid 2px #000;
	padding: 5px 10px;
	box-shadow: 4px 4px 0 #000;
}

.hidden{
	display: none;
}

#loading-screen{
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	animation:  fade-loading-screen 2s forwards;
	animation-delay: 8s;
}

@keyframes fade-loading-screen{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		display: none;
	}
}

#loading-screen-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 350px;
	border: 3px solid #000;
}

#loading-screen-logo img{
	height: 100px;
	animation: init-logo 2s linear forwards;
}

@keyframes init-logo{
	0%{
		transform: scale(.25);
	}
	24%{
		transform: scale(.25);
	}
	25%{
		transform: scale(.5);
	}
	49%{
		transform: scale(.5);
	}
	50% {
		transform : scale(.75);
	}
	74%{
		transform: scale(.75);
	}
	75%{
		transform: scale(1);
	}
	100%{
		transform: scale(1);
	}
}

#loading-bar-content{
	border: solid 3px #000;
	width: 250px;
	height: 20px;
}

#loading-bar{
	width: 0%;
	background: url('../img/backgrounds/dots_4px.png');
	height: 100%;
	animation: loading-bar-animation 4s linear forwards;
	animation-delay: 2s;
}

@keyframes loading-bar-animation {
	0%{
		width: 0%;
	}
	28%{
		width: 28%;
	}
	40%{
		width: 28%;
	}
	88%{
		width: 75%;
	}
	95%{
		width: 75%;
	}
	100%{
		width: 100%;
	}
}

#background {
	background-repeat: repeat;
}

#apps-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, 100px);
	grid-gap: 30px;
	grid-auto-rows: minmax(100px, auto);
	justify-content: center;
	align-items: center;
	float: right;
	padding: 50px;
}

#settings-window{
	width: 500px;
	height: 300px;
}

#settings-window .window-section{
	gap: 20px;
	border-right: solid 2px #000;
}

#settings-window .window-section:last-child{
	border-right: none;
}

#settings-window .buttons-container{
	display: flex;
	gap: 25px;
}

#background-preview{
	width: 80px;
	height: 80px;
	background-position: center;
	background-size: cover;
	margin-bottom: 10px;
}

#mouse-pointer-preview-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#mouse-pointer-preview-square{
	position: relative;
	width: 80px;
	height: 80px;
	border: 2px solid #000;
}

#mouse-pointer-preview{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
}

.color-preview-container{
	position: relative;
	height: 80px;
}
.color-preview-container > *{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.color-preview{
	width: 80px;
	height: 80px;
	border: 2px solid #000;
}

#calculator-window{
	width: 200px;
	height: 300px;
}

.window{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	position: absolute;
	width: 300px;
	height: 200px;
	left: 500px;
	top: 500px;
	z-index: 0;
	border: 2px solid #000000;
	box-shadow: 4px 4px 0 #000;
}

.window-hide{
	display: none;
}

.window.focused{
	z-index: 2;
}

.window-header{
	cursor: move;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	align-items: center;
	border-bottom: 2px solid #000;
	width: auto;
	height: 40px;
	
}

.window-body{
 display: grid;
}

#settings-window .window-body{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}


#calculator-container{
	
	margin: 10px 20px;
	bottom: 0;
}

#calculator-display-container{
	padding: 0 15px;
	display: flex;
	height: 35px;
	align-items: center;
	justify-content: center;
	border: 2px solid #000000;
	margin-bottom: 10px;
}

#calculator-display{
	text-align: right;
	width: 100%;
}

#calculator-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(auto-fill, 1fr);
	height: 80%;
	justify-items: center;
	align-items: center;
}

.calculator-button{
	background-color: #FFFFFF;
	border-radius: 0;
	width: 8px;
	height: 8px;
	row-gap: 8px;
	border: solid 2px #000;
	padding: 10px 8px;
	padding-top: 4px;
	box-shadow: 4px 4px 0 #000;
}

#calc-zero{
	grid-column: 1 / 3;
	text-align: center;
	width: 45px;
}

#calc-ans{
	grid-column: 4/5;
	grid-row: 4/6;
	height: 45px
}

.window-body{
	pointer-events: auto;

	width: 100%;
	height: 100%;
}

.window-section{
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
}

.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.app-icon{
	width: 80px;
	height: 80px;
	display: block;
	background-color: gray;
}

.app-name{
	text-align: center;
}

.app-name h2{
	font-size: 0.9em;
	margin: auto;
	display: inline-block;
	padding: 5px 10px;
	background-color: #FFFFFF;
}